name: Test

on:
  pull_request:
    branches:
      - main
  workflow_dispatch

jobs:
  test:
    strategy:
      matrix:
        variant: [x86_64_musl, armv7_musl, arm64_musl]
        host: [arm64, amd64]
        include:
          - variant: x86_64_musl
            target: x86_64-unknown-linux-musl
            openssl_arch: linux-x86_64
            test_platform: linux/amd64
            qemu_platform: amd64
            platform_prefix: amd64
          - variant: armv7_musl
            target: armv7-unknown-linux-musleabihf
            openssl_arch: linux-armv4
            additional_cflags: "-march=armv7-a -mfpu=vfpv3-d16"
            additional_libs: -latomic
            test_platform: linux/arm/v7
            qemu_platform: arm
            platform_prefix: arm32v7
          - variant: arm64_musl
            target: aarch64-unknown-linux-musl
            openssl_arch: linux-aarch64
            test_platform: linux/arm64
            qemu_platform: arm64
            platform_prefix: arm64v8
          - host: arm64
            os: ubuntu-24.04-arm
          - host: amd64
            os: ubuntu-24.04

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Log into registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.qemu_platform }}

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Test
        run: |
          IMAGE_ID=ghcr.io/chipp/build.rust.${{ matrix.variant }}

          docker buildx build . \
            --output type=oci,tar=false,dest=local \
            --cache-from=type=gha,scope=${{ matrix.variant }}-${{ matrix.host }} \
            --cache-to=type=gha,scope=${{ matrix.variant }}-${{ matrix.host }},mode=max \
            --build-arg VARIANT="${{ matrix.variant }}" \
            --build-arg RUST_TARGET="${{ matrix.target }}" \
            --build-arg OPENSSL_ARCH="${{ matrix.openssl_arch }}" \
            --build-arg ADDITIONAL_CFLAGS="${{ matrix.additional_cflags }}" \
            --build-arg ADDITIONAL_LIBS="${{ matrix.additional_libs }}" \
            --tag $IMAGE_ID:test

          docker buildx build validate \
            --load \
            --platform ${{ matrix.test_platform }} \
            --build-context base-builder-rs=oci-layout://local:test \
            --build-context emulator=docker-image://${{ matrix.platform_prefix }}/alpine \
            --no-cache \
            --tag $IMAGE_ID:validate
